#==================== LEDs ====================
set_property PACKAGE_PIN T22 [get_ports {debug_port[0]}]
set_property IOSTANDARD LVCMOS33 [get_ports {debug_port[0]}]
set_property PACKAGE_PIN T21 [get_ports {debug_port[1]}]
set_property IOSTANDARD LVCMOS33 [get_ports {debug_port[1]}]
set_property PACKAGE_PIN U22 [get_ports {debug_port[2]}]
set_property IOSTANDARD LVCMOS33 [get_ports {debug_port[2]}]
set_property PACKAGE_PIN U21 [get_ports {debug_port[3]}]
set_property IOSTANDARD LVCMOS33 [get_ports {debug_port[3]}]
set_property PACKAGE_PIN V22 [get_ports {debug_port[4]}]
set_property IOSTANDARD LVCMOS33 [get_ports {debug_port[4]}]
set_property PACKAGE_PIN W22 [get_ports {debug_port[5]}]
set_property IOSTANDARD LVCMOS33 [get_ports {debug_port[5]}]
set_property PACKAGE_PIN U19 [get_ports {debug_port[6]}]
set_property IOSTANDARD LVCMOS33 [get_ports {debug_port[6]}]
set_property PACKAGE_PIN U14 [get_ports {debug_port[7]}]
set_property IOSTANDARD LVCMOS33 [get_ports {debug_port[7]}]